[Unit]
Description=typing_ex roll-call timer

[Service]
user=hkim
Type=oneshot
WorkingDirectory=/home/hkim/typing-ex/timer
ExecStart=redis-cli set stat roll-call ex 900
StandardOutput=append:/home/hkim/typing-ex/log/timer.log
StandardError=append:/home/hkim/typing-ex/log/timer.log
